<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MacathonMonashMates"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MacathonMonashMates">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SignUpPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MacathonMonashMates">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MentorSignupPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.StudentSignupPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.MentorExpertisePage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.StudentInterestPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.DiscoverPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.HomePage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.ChatPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.ProfilePage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.ProfileViewPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.ChatHistoryPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.DebugDataPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.NewLoginPage"
            android:exported="false"
            android:theme="@style/Theme.MacathonMonashMates" />
        <activity
            android:name=".screens.DebugDatabaseView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>